/* hero section */
.body {
  background-color: white;
  color: #000;
}

.banner-content {
  height: 50vh;
  background-image: url("../images/keyboard.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-style: oblique;
  background-position: center;
}

.wrapper-word {
  transform: translate(25vw, 15vh);
  background: transparent;
}

/* page content */
#form-container {
  border: 8px dashed black;
  width: 50%;
  margin: 8rem auto;
  color: black;

}

.contact-form {
  padding: 50px 50px;
}

.contact-form h3,
h4 {
  text-align: center;
}

fieldset {
  border: transparent;
}

fieldset label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 44px;
  outline: none;
}

input[type=submit] {
  cursor: pointer;
  margin-top: 20px;
  background-color: black;
  color: white;
}

.footer-stamp {
  color: black;
}

@media screen and (max-width: 991px) {

  /* hero section */
  .banner-content {
    height: 30vh !important;
  }

  .wrapper-word {
    transform: translate(0);
    margin: 10vh auto;
  }

  #form-container {
    width: 80%;
  }

  .contact-form {
    padding: 30px 0
  }

  input,
  textarea {
    width: 100%;
  }
}

@media (width: 1024px) {

  input,
  textarea {
    width: 100%
  }
}

@media (width: 280px) {
  .text-box h5 {
    font-size: 20px;
  }
}

@media (width: 820px) {
  .wrapper-word {
    margin: -20px auto;
  }
}

@media (width: 768px) {
  .wrapper-word {
    margin: -20px auto;
  }
}

@media (width: 912px) {
  .wrapper-word {
    margin: -20px auto;
  }
}