@media screen and (min-width: 850px) {
  main {
    width: 85%;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  header h1 {
    font-size: 25px;
  }

  nav {
    display: flex;
    background: none;
    position: relative;
    top: 0px;
    left: 0;
  }

  #menuButton {
    display: none;
  }

  main {
    width: 90%;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}